body {
    font-family: Arial Narrow,Arial,sans-serif;
    background-image: url(../im/fondoMenuTop.png);
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* 
 * HEADER 
 */
header {
    color: #eaeaea;
    top: 0;
    left: 0;
    right: 0;
}

@media all and (min-width: 961px) {
    h1{
	font-size: 3.5em;
    }
    header .logo {
	overflow: hidden;
	width: 100%;
	max-height: 200px;
	background-image: url(../im/fondo.png);
	background-position: center center;
	background-size: 100% 100%;
    }

    .contact a, .contact a:visited, .contact a:hover {
	text-decoration: none;
	color: #eaeaea;
    }

    .logo img {
	padding-top: 15px;
    }
}

@media all and (max-width: 960px) {
    h1{
	font-size: 3.5vw;
	display: inline;
    }
    header .logo {
	overflow: hidden;
	width: 100%;
	max-height: 100px;
	background-image: url(../im/fondo.png);
	background-position: center center;
	background-size: 100% 100%;
    }

    .logo img {
	padding-top: 7px;
	padding-bottom: 7px;
	height: 70px;
    }

}

/* 
 * NAV MENU
 */
nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
ul.fullnav, ul.fullnav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    text-align: center;
}
ul.fullnav {
    background: #555;
}
ul.fullnav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
}
ul.fullnav li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
ul.fullnav li ul {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #999;
    line-height: 0;
    z-index: 3;
}

ul.fullnav li:hover a, li.current {
    background: #999;
}
ul.fullnav li:hover ul {
    height: auto;
}
ul.fullnav li:hover ul li a {
    background: transparent;
}
ul.fullnav li:hover ul li:hover a {
    text-decoration: none;
    color: #333;
}

/* 
 * MAIN
 */

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel {
    max-width: 70%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    min-height: 50px;
    min-width: 50px;
}
#gallery a, #gallery a:hover, #gallery a:visited, #gallery a:link, #gallery a:active {
    color: white;
    text-decoration: none;
}
/* Searchbox */
.search {
    margin-top: 30px;
}
.search .btn {
    background-color: gray;
}

p.hidden {
    display: none;
}
.vertical-offset {
    margin-top: 40px;
}
.card-rounded {
    border: none;
}
.card-rounded .card-footer {
    border: none;
    background-color: white;
}
.card-rounded a:visited {
    color: white;
}
/* Cards */
h1.my-4 {
    text-align: center;
}
.card-footer {
    border-top: none;
    padding: 0;
}
/* 
 * FOOTER
 */
@media all and (min-width: 681px) {
    footer {
	background-image: url(../im/fondo.png);
	background-color: gray;
	background-position: center center;
	background-size: 100% 100%;
	color: #eaeaea;
	min-height: 150px;
	clear:both;
	margin-bottom: -3em;
    }
    .copyright {
	padding: 70px 0 30px 0;

    }
}

@media all and (max-width: 680px) {
    footer {
	background-image: url(../im/fondo.png);
	background-color: gray;
	background-position: center center;
	background-size: 100% 100%;
	color: #eaeaea;
	max-height: 100px;
	clear:both;
	margin-bottom: -3em;
    }    
    .copyright {
	padding: 40px 0 40px 0;

    }
}
